body {
    background-color: #f0ead9;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 4rem;
    font-size: 60px;
}

.full-question {
    display: none;
}

.mainSection {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0 10rem 4rem 10rem;
    font-size: 32px;
}

#timer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 8rem;
    padding: 10px;
    margin-top: 50px;
}

.startButton {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: rgb(231, 199, 57);
    font-size: 48px;
    border: solid black 4px;
    border-radius: 4px;
}

.startButton:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 49px;
    color: #ffffff;
}

.scoreButton {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: silver;
    font-size: 48px;
    border: solid black 4px;
    border-radius: 4px;
    margin-top: 60px;
}

.scoreButton:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 49px;
    color: #ffffff;
}

.questionContainer {
    display: flex;
    justify-content: center;
}

.question {
    display: flex;
    justify-content: center;
    font-size: 48px;
    /* background-color: silver; */
    width: 50%;
    margin-top: 3rem;
}

.options {
    display: flex;
    width: 30%;
    flex-direction: column;
    text-align: left;
    font-size: 36px;
    margin: auto;
}

.option1 {
    border: solid silver 0.5rem;
    padding: 2px;
    margin: 10px;
    border-radius: 4px;
}

.option2 {
    border: solid silver 0.5rem;
    padding: 2px;
    margin: 10px;
    border-radius: 4px;
}

.option3 {
    border: solid silver 0.5rem;
    padding: 2px;
    margin: 10px;
    border-radius: 4px;
}

.option4 {
    border: solid silver 0.5rem;
    padding: 2px;
    margin: 10px;
    border-radius: 4px;
}

.option1:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 37px;
    border: solid rgb(231, 199, 57) 0.5rem;
}

.option2:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 37px;
    border: solid rgb(231, 199, 57) 0.5rem;
}

.option3:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 37px;
    border: solid rgb(231, 199, 57) 0.5rem;
}

.option4:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 37px;
    border: solid rgb(231, 199, 57) 0.5rem;
}