body {
    background-color: #f0ead9;
}

html {
    width: 100%;
    height: 100%;
    position: absolute;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 4rem 4rem 2rem 4rem;
    font-size: 60px;
}

/* .full-question {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
} */

.mainSection {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0 0rem 4rem 0rem;
    font-size: 32px;
    width: 90%;
    height: 100%;
}

#timer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 6rem;
    z-index: 999;
    /* padding: 10px; */
    padding-top: 20px;
}

.startButton {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: rgb(231, 199, 57);
    font-size: 48px;
    border: solid black 4px;
    border-radius: 4px;
}

.startButton:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 49px;
    color: #ffffff;
}

.scoreButton {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: silver;
    font-size: 48px;
    border: solid black 4px;
    border-radius: 4px;
    margin-top: 60px;
}

.scoreButton:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 49px;
    color: #ffffff;
}

.questionContainer {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.question {
    display: flex;
    justify-content: center;
    font-size: 48px;
    /* background-color: silver; */
    width: 100%;
    margin-top: 1rem;
}

.options {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: row;
    font-size: 36px;
    margin: auto;
}

.option1 {
    display: flex;
    justify-content: space-around;
    border: solid silver 0.5rem;
    padding: 2px;
    margin: 10px;
    border-radius: 4px;
}

.option2 {
    border: solid silver 0.5rem;
    padding: 2px;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    align-self: flex-end;
}

.option3 {
    border: solid silver 0.5rem;
    padding: 2px;
    margin: 10px;
    border-radius: 4px;
}

.option4 {
    border: solid silver 0.5rem;
    padding: 2px;
    margin: 10px;
    border-radius: 4px;
}

.btn {
    border: solid silver 0.5rem;
    padding: 2rem;
    margin: 1rem;
    border-radius: 4px;
    display: flex;
    width: 80%;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    margin: auto;
    overflow-wrap: normal;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 37px;
    border: solid rgb(231, 199, 57) 0.5rem;
}

.option1:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 37px;
    border: solid rgb(231, 199, 57) 0.5rem;
}

.option2:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 37px;
    border: solid rgb(231, 199, 57) 0.5rem;
}

.option3:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 37px;
    border: solid rgb(231, 199, 57) 0.5rem;
}

.option4:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 37px;
    border: solid rgb(231, 199, 57) 0.5rem;
}

.nameInput {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 25%;
    height: 3.5rem;
    font-size: 37px;
}

.table {
    width: 50%;
    margin-left: 25%;
}

.homeButton {
    display: flex;
    /* justify-content: center; */
    align-self: center;
    background-color: rgb(231, 199, 57);
    font-size: 48px;
    border: solid black 4px;
    border-radius: 4px;
    margin: auto;
    margin-top: 50px;
}

.homeButton:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 49px;
    color: #ffffff;
}